.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 75px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #d1d1d1;
  z-index:9999;
  .logo {
    display: inline-block;
    position: absolute;
    left: 0;
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: #d1d1d1;
      &:hover {
        color: #03585d;
      }
    }
    img {
      vertical-align: middle;
      margin-right: 10px;
    }
    .logo-text {
      font-size: 24px;
      font-family: 'BEBAS', sans-serif;
      vertical-align: middle;
      letter-spacing: 0.050em;
    }
  }
  .menu {
    display: inline-block;
    a {
      display: inline-block;
      padding: 0 20px;
      font-size: 15px;
      //font-family: 'ROBOTO-LIGHT', sans-serif;
      color: #bdbdbc;
      text-decoration: none;
      text-transform: uppercase;
      //letter-spacing: 0.0251em;
      border: 2px solid transparent;
      &.active,
      &:hover {
        color: #03585d;
        border-width: 1px;
        border-left-width: 2px;
        border-right-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to top, #045054, transparent) 1;
        box-shadow: inset 0 0 2px #045054, 0 1px 1px #045054;
        //font-weight: bold;
        &>span {
          &:before{
            content: "";
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 18px;
            background: #191a18;
            z-index: -1;
            top: 0;
          }
          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: -60%;
            left: 50%;
            width: 2px;
            height: 40px;
            background: #03585d;
            transform: rotate(25deg);
            z-index: -2;
          }
        }
      }
      span {
        background: rgb(25, 26, 24);
        position: relative;
        z-index: 1;
      }
      &.online{
        span.gold{
          font-family:'BEBAS', sans-serif;
          font-size: 18px;
          letter-spacing: normal;
          line-height: normal;
        }
      }
    }
  }
  .reg {
    position: absolute;
    right: 20px;
    top: 0;

    a {
      display: inline-block;
      font-size: 12px;
      line-height: normal;
      padding: 10px;
      color: #03585d;
      text-transform: uppercase;
      font-family: 'Tahoma', sans-serif;
      text-decoration: none;
      letter-spacing: 0.025em;
      &:hover {
        background: #03585d;
        color: #fff;
      }
    }
  }
  a {
    padding: 5px 10px 5px 0;
  }
}
