@font-face {
  font-family: 'BEBAS';
  src: url('../fonts/BEBAS.eot');
  src: local('☺'), url('../fonts/BEBAS.woff') format('woff'), url('../fonts/BEBAS.ttf') format('truetype'), url('../fonts/BEBAS.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ROBOTO-CONDENSED';
  src: url('../fonts/ROBOTO-CONDENSED_0.eot');
  src: local('☺'), url('../fonts/ROBOTO-CONDENSED_0.woff') format('woff'), url('../fonts/ROBOTO-CONDENSED_0.ttf') format('truetype'), url('../fonts/ROBOTO-CONDENSED_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ROBOTO-REGULAR';
  src: url('../fonts/ROBOTO-REGULAR.eot');
  src: local('☺'), url('../fonts/ROBOTO-REGULAR.woff') format('woff'), url('../fonts/ROBOTO-REGULAR.ttf') format('truetype'), url('../fonts/ROBOTO-REGULAR.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ROBOTO-LIGHT';
  src: url('../fonts/ROBOTO-LIGHT.eot');
  src: local('☺'), url('../fonts/ROBOTO-LIGHT.woff') format('woff'), url('../fonts/ROBOTO-LIGHT.ttf') format('truetype'), url('../fonts/ROBOTO-LIGHT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  padding: 0;
  margin: 0;
  //background: #000;
  min-height: 100vh;
  font-family: 'ROBOTO-CONDENSED', sans-serif;
  letter-spacing: 0.085em;
}

body {
  background: url("../img/background.jpg") no-repeat fixed;
  background-size: 1990px 980px;
  padding-top: 80px;
}

* {
  box-sizing: border-box;
}

//.background{
//  background: url("../img/background.jpg") no-repeat;
//  background-size: cover;
//  background-color: rgb(25, 25, 25);
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  height: 100vh;
//  z-index: 0;
//}
.container {
  position: relative;
  max-width: 1260px;
  margin: auto;
}

.v-hidden {
  visibility: hidden;
}

.content-block {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #03585d;
  border-radius: 30px;
  .logo-background {
    position: absolute;
    width: 97px;
    height: 113px;
    background: url("../img/logo-background.png");
    z-index: -1;
    top: -30px;
    left: 50%;
    margin-left: -47px;
  }
  .title {
    position: relative;
    margin: -21px 30px 0 30px;
    text-align: center;
    h1 {
      font-size: 30px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      //letter-spacing: 0.025em;
      line-height: normal;
      color: #cccccc;
      //font-family: 'ROBOTO-LIGHT', sans-serif;
      span {
        position: relative;
        display: inline-block;
        padding: 0 20px;
        height: 36px;
        //background: #090909;
        z-index: 10;
        &:before,
        &:after {
          content: "";
          position: absolute;
          display: block;
          width: 8px;
          height: 8px;
          background: #03585d;
          border-radius: 50%;
          top: 16px;
        }
        &:after {
          left: 0;
        }
        &:before {
          right: 0;
        }
        i.deliv {
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          top: 50%;
          background: #1b1c1c;
          z-index: -1;
        }
        b.twoLines {
          position: relative;
          top: -14px;
          text-align: center;
          display: block;
        }
      }
    }

  }
}

#root {
  //background: url("../img/background.jpg") no-repeat;
  //background-size: cover;
  min-height: 100%;
}

input {
  &.error {
    outline: 1px solid red;
  }
}

.button-wrap {
  position: relative;
  display: inline-block;
  line-height: normal;
  button {
    padding: 12px 20px;
    background: #af7801;
    font-size: 14px;
    text-transform: uppercase;
    color: #151515;
    border-radius: 10px;
    border: none;
    outline: none;
    //font-family: 'ROBOTO-CONDENSED', sans-serif;
    //letter-spacing: 0.025em;
    &:hover {
      cursor: pointer;
    }
  }
  .wrapper-top {
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -5px;
      display: block;
      width: 12px;
      height: 12px;
      border-color: #ffae00;
      border-top: 1px solid #ffae00;
      transition: all 0.2s;
    }
    &:after {
      left: -5px;
      border-top-left-radius: 7px;
      border-left: 1px solid #ffae00;
    }
    &:before {
      right: -5px;
      border-top-right-radius: 7px;
      border-right: 1px solid #ffae00;
    }
  }
  .wrapper-bottom {
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      display: block;
      width: 12px;
      height: 12px;
      border-color: #ffae00;
      border-bottom: 1px solid #ffae00;
      transition: all 0.2s;
    }
    &:after {
      left: -5px;
      border-bottom-left-radius: 7px;
      border-left: 1px solid #ffae00;
    }
    &:before {
      right: -5px;
      border-bottom-right-radius: 7px;
      border-right: 1px solid #ffae00;
    }
  }
  /*&:hover {
    .wrapper-bottom {
      &:before,
      &:after {
        bottom: -7px;
        transition: all 0.2s;
      }
      &:before {
        right: -7px;
      }
      &:after {
        left: -7px;
      }
    }
    .wrapper-top {
      &:before,
      &:after {
        top: -7px;
        transition: all 0.2s;
      }
      &:before {
        right: -7px;
      }
      &:after {
        left: -7px;

      }
    }
  }*/
}

.main-page {
  display: flex;
  flex-wrap: wrap;
  padding-top: 130px;
  justify-content: space-between;
  .container-tournament,
  .container-duel {
    width: 615px;
    min-height: 440px;
    .content-block {
      height: 100%;
    }

    .content {
      position: relative;
      margin-top: 15px;
      //padding: 0 25px;

    }

  }
}



