//modals

.close-modal {
  position: absolute;
  top: -30px;
  right: -30px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/cancel.png") no-repeat;
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
  @media all and (max-width: 750px) {
    top: 17px;
    right: 20px;
  }
}

.login-modal,
.Registration-modal,
.user-settings-modal {
  width: 650px;
  max-width: 100%;
  min-height: 350px;
  padding: 0 10px;
  //font-family: 'ROBOTO-LIGHT', sans-serif;
  & > div {
    &:focus {
      outline: none;
    }
  }
  .modal-content {
    max-width: 650px;
    //min-height: 350px;
    padding-bottom: 42px;
    background: rgba(0, 0, 0, 0.2);
    .content {
      max-width: 290px;
      margin: auto;
      padding-top: 45px;
      input {
        display: block;
        height: 42px;
        width: 100%;
        margin-bottom: 13px;
        padding: 0 10px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid #151515;
        color: #00a9b3;
        //font-family: 'ROBOTO-CONDENSED', sans-serif;
        font-size: 14px;
        //letter-spacing: 0.025em;
        &::-webkit-input-placeholder {
          color: #025c61;
        }
        &::-moz-placeholder {
          color: #025c61;
        }
        &:-moz-placeholder {
          color: #025c61;
        }
        &:-ms-input-placeholder {
          color: #025c61;
        }

      }
    }
  }
}