html {
  color: #cdcdcd;
}

a {
  color: #cdcdcd;
}

.gold {
  color: $golden;
}

.turquoise {
  color: $turquoise;
}

.question {
  display: inline-block;
  width: 12px;
  height: 19px;
  background: url("../img/question-mark.png");
}

.security {
  display: inline-block;
  width: 15px;
  height: 19px;
  background: url("../img/security.png");
}

.expand {
  display: inline-block;
  width: 27px;
  height: 20px;
  background: url("../img/focus-selector.png");
}

/**
* TODO remome after create User avatar component
**/
.avatar-place {
  position: relative;
  width: 160px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img.avatar {
    //align-self: center;
    //width: 132px;
    //height: 132px;
    //border-radius: 50%;
    //border: 2px solid $turquoise;
    //box-shadow: 0 0 20px $turquoise;
  }
  .wrapper-top,
  .wrapper-bottom {
    &:after,
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      border: 1px $turquoise;
    }
    &:before {
      left: 0;
      border-left-style: solid;
    }
    &:after {
      right: 0;
      border-right-style: solid;
    }
  }
  .wrapper-top {
    &:before,
    &:after {
      top: 0;
      border-top-style: solid;
    }
  }
  .wrapper-bottom {
    &:before,
    &:after {
      bottom: 0;
      border-bottom-style: solid;
    }
  }
}

.question,
.security,
.expand {
  &:hover {
    filter: brightness(1.5);
  }
}

.paper,
.stone,
.scissors {
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
  &.rival {
    box-shadow: 0 0 20px #00b7c1;
  }
}

.paper,
.stone {
  width: 82px;
  height: 78px;
}

.scissors {
  width: 78px;
  height: 82px;
}

.paper {
  background: url("../img/paper-white.png");
  &.rival {
    background: url("../img/paper-teraq.png");
  }
  &.active,
  &:hover {
    background: url("../img/paper-gold.png");
  }
}

.stone {
  background: url("../img/stone-white.png");
  &.rival {
    background: url("../img/stone-teraq.png");
  }
  &.active,
  &:hover {
    background: url("../img/stone-gold.png");
  }
}

.scissors {
  background: url("../img/scissors-white.png");
  &.rival {
    background: url("../img/scissors-teraq.png");
  }
  &.active,
  &:hover {
    background: url("../img/scissors-gold.png");
  }
}

.status-message {
  padding: 0 54px;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.39);
  border-bottom-width: 1px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.41);
  &:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.39);
  }
  &:hover {
    background: rgba(3, 81, 85, 0.2);
    border-left: 4px solid #046a70;
    border-right: 4px solid #046a70;
    padding: 0 50px;
  }
  & > div {
    display: inline-block;
  }
}

.title-table {
  text-align: center;
  margin-top: 40px;
  font-size: 23px;
  text-transform: uppercase;
  span {
    position: relative;
    color: $golden;
    &:before,
    &:after {
      content: '';
      position: absolute;
      background: url("../img/logo-background.png");
      background-size: contain;
      width: 43px;
      height: 49px;
      top: -50%;
    }
    &:before {
      left: -63px;
    }
    &:after {
      right: -63px;
    }
  }
}

.spinner {
  position: relative;
  //overflow: hidden;
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
  }
  &:before {
    //text-align: center;
    content: "";
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 38px;
    height: 44px;
    animation: rotate 0.8s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}