@import "../../styles/variables";
.duel-page {
  .container-duel {
    max-width: 840px;
    margin: 135px auto 0;
  }
  .status-messages {
    position: relative;
    max-width: 840px;
    margin: 35px auto;
    .status-message {
      .user-avatar {
        width: 36px;
        overflow: hidden;
        height: 36px;
        border-radius: 50%;
        display: inline-flex;
        vertical-align: middle;
        img {
          width: 100%;
          //vertical-align: middle;
          align-self: center;
        }
      }
      .user-name {
        margin: 0 12px;
        font-size: 16px;
        color: $golden;
      }
      .message {
        color: $turquoise;
        span {
          color: #fff;
        }
      }
    }
  }
}