@import "../../styles/variables";

.user-settings-modal {
  .modal-content.content-block {
    .content {
      max-width: inherit;
      display: flex;
      padding: 20px;
      line-height: normal;
      .user-avatar {
        label[for="user-avatar"] {
          display: flex;
          position: relative;
          width: 100px;
          cursor: pointer;
          border: 1px dashed rgb(3, 88, 93);
          border-image: initial;
          border-radius: 10px;
          margin: auto;
          &:after {
            content: "+";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 100px;
            color: #fff;
            font-size: 25px;
          }
          img {
            width: 100%;
            padding: 5px;
            position: relative;
            border-radius: 10px;
            z-index: 999;
            align-self: center;
            &[src=""] {
              min-height: 100px;
            }
          }
        }
        input#user-avatar {
          visibility: hidden;
          opacity: 0;
          width: 0;
          height: 0;
          position: absolute;
        }
      }
      .user-info-top {
        margin-left: auto;
        padding: 0 20px;
        width: calc(100% - 100px);
        text-align: center;
        .username {
          line-height: normal;
          color: lighten($turquoise, 20%);
        }
        .user-points {
          color: $golden;
        }
        .text-points {
          color: #fff;
        }
        .user-games-info {
          display: flex;
          margin-top: 10px;
          line-height: normal;
          justify-content: space-between;
        }
      }
    }
  }

}