@import "../../styles/variables";

.user-avatar-component {
  .avatar-place {
    position: relative;
    width: 160px;
    height: 150px;
    display: flex;
    justify-content: center;
    .wrap-avatar {
      display: inline-flex;
      justify-content: center;
      width: 132px;
      height: 132px;
      border-radius: 100%;
      border: 2px solid #03585d;
      box-shadow: 0 0 20px #03585d;
      overflow: hidden;
      align-self: center;
      img.avatar {
        width: 100%;
        align-self: center;
      }
    }
    .wrapper-top,
    .wrapper-bottom {
      &:after,
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        border: 1px $turquoise;
      }
      &:before {
        left: 0;
        border-left-style: solid;
      }
      &:after {
        right: 0;
        border-right-style: solid;
      }
    }
    .wrapper-top {
      &:before,
      &:after {
        top: 0;
        border-top-style: solid;
      }
    }
    .wrapper-bottom {
      &:before,
      &:after {
        bottom: 0;
        border-bottom-style: solid;
      }
    }
  }

  &.busy {
    .avatar-place {
      .wrap-avatar {
        border: 2px solid $golden;
        box-shadow: 0 0 20px $golden;
      }

      .wrapper-top,
      .wrapper-bottom {
        &:before,
        &:after {
          border-color: $golden;
        }
      }
    }
  }
}