@import "../../styles/variables";

.faq-info {
  position: relative;
  z-index: 0;
  max-width: 1200px;
  margin: 50px auto 0;
  .title {
  }
  .content-block {
    min-height: 400px;
    p.desc {
      max-width: 550px;
      margin: 25px auto;
      text-align: center;
      font-size: 15px;
      color: #d1d1d1;
      text-transform: uppercase;
      a {
        text-decoration: none;
      }
    }

    .faq-content {
      padding-bottom: 30px;
      p {
        margin: 0;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding: 0;
          margin: 0;
          span{
            cursor: pointer;
            &:hover{
              color: lighten($turquoise, 10%);
            }
          }
        }
      }
      .root {
        margin-bottom: 2px;
        & > .faq-title {
          margin: 0;
          padding: 0 50px;
          line-height: 60px;
          background: rgba(3, 81, 85, 0.2);
          &:after{
            content: '⮝';
            padding-left: 10px;
          }
        }
        ul {
          margin-left: 70px;
          display: none;
          li {
            margin-bottom: 10px;
            .faq-title {
              font-size: 14px;
              color: $turquoise;
            }
          }
          .text {
            display: none;
            margin-top: 10px;
            margin-left: 20px;
            border-left: 2px solid $turquoise;
            padding-left: 8px;
            padding-right: 40px;
          }
        }
        &.open {
          background: rgba(0, 0, 0, 0.71);
          & > .faq-title {
            background: none;
            &:after{
              content: '⮟';
            }
          }
          ul {
            display: block;
            li {
              &.open {
                & > .text {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}