@import "../../styles/variables";

.user-places {
  max-width: 405px;
  .vs {
    margin-top: 57px;
    font-size: 36px;
    //letter-spacing: 0.085em;
    //font-family: 'ROBOTO-CONDENSED', sans-serif;
    color: $turquoise;
  }
  .user-place {

    .button-wrap {
      margin-top: 40px;
      button {
        width: 160px;
        padding: 10px 0;
        background: transparent;
        border: 1px solid $golden;
        color: $golden;
        &:hover {
          box-shadow: 0 0 10px $golden;
        }
      }

      .wrapper-top,
      .wrapper-bottom {
        &:before,
        &:after {
          border-width: 3px;
        }
      }
      .wrapper-top,
      .wrapper-bottom {
        &:before {
          right: -1px;
        }
      }
      .wrapper-top,
      .wrapper-bottom {
        &:after {
          left: -1px;
        }
      }
      .wrapper-top {
        &:before,
        &:after {
          top: 0;
        }
      }
      .wrapper-bottom {
        &:before,
        &:after {
          bottom: 0;
        }
      }
    }
    &.busy {
      .button-wrap {
        button {
          border: 1px solid $turquoise;
          color: $turquoise;
          &:hover {
            box-shadow: 0 0 10px $turquoise;
          }
        }
        .wrapper-top,
        .wrapper-bottom {
          &:after,
          &:before {
            border-color: $turquoise;
          }
        }
      }
    }
  }
  .description {
    margin-top: 35px;
    width: 100%;
    p {
      margin: 0;
      font-size: 13.6px;
      //letter-spacing: 0.085em;
      color: #cdcdcd;
      //font-family: 'ROBOTO-CONDENSED', sans-serif;
      text-transform: uppercase;
    }
  }
}



