.free-points-modal {
  line-height: normal;
  max-width: 614px;
  width: 100%;
  .content-block {
    padding-bottom: 40px;
  }
  .logos {
    margin-top: 15px;
    img {
      margin-left: 10px;
    }
  }

  input {
    display: inline-block;
    height: 42px;
    width: 290px;
    margin-top: 20px;
    margin-bottom: 13px;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid #151515;
    color: #00a9b3;
    font-size: 14px;
    text-align: center;

    &::-webkit-input-placeholder {
      color: #025c61;
    }
    &::-moz-placeholder {
      color: #025c61;
    }
    &:-moz-placeholder {
      color: #025c61;
    }
    &:-ms-input-placeholder {
      color: #025c61;
    }
  }

}