@import "../../styles/variables";

.duel-proc {
  .title-message {
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
  }
  .user-places {
    max-width: 730px;
    margin-top: 50px;
    .user-place {
      .avatar-place {
        &:after {
          content: "";
          align-self: center;
          width: 132px;
          height: 132px;
          position: absolute;
          top: 10px;
          left: 14px;
          border-radius: 50%;
          opacity: 0;
          transition: opacity 0.5s;
        }
        &.stone-avatar {
          position: relative;
          &:after {
            background: rgba(0, 0, 0, 0.51) url("../../img/stone-gold.png") no-repeat 50% 50%;
            opacity: 1;
            transition: opacity 0.5s;
          }
        }
        &.paper-avatar {
          position: relative;
          &:after {
            background: rgba(0, 0, 0, 0.51) url("../../img/paper-gold.png") no-repeat 50% 50%;
            opacity: 1;
            transition: opacity 0.5s;
          }
        }
        &.scissors-avatar {
          position: relative;
          &:after {
            background: rgba(0, 0, 0, 0.51) url("../../img/scissors-gold.png") no-repeat 50% 50%;
            opacity: 1;
            transition: opacity 0.5s;
          }

        }
      }
      .username {
        margin-top: 20px;
      }
    }

    .timer {
      position: relative;
      width: 108px;
      margin-top: 23px;
      height: 108px;
      .seconds {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 38px;
        line-height: 104px;
        color: $golden;
        font-family: 'ROBOTO-LIGHT', sans-serif;
      }
      #timer-canvas {
        width: 106px;
        height: 106px;
      }
    }
    .divider {
      height: 7px;
      background: rgba(255, 255, 255, 0.2);
      flex-grow: 1;
      margin: 75px 13px 0;
      border-radius: 3px;
    }
  }
  .choice-card {
    max-width: 325px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


}

