@import "../../styles/variables";

.container-tournament {
  position: relative;
  z-index: 10;
  .content-block {
    background: rgba(0, 0, 0, 0.4);
    padding: 0 30px 30px;
    .content {
      .head-block {
        position: relative;
        .question {
          position: absolute;
          left: 0;
        }
        .security {
          position: absolute;
          left: 25px;
        }
        .timer{
          text-align: center;
          margin-bottom: 0;
        }
        .expand {
          position: absolute;
          top: 0;
          right: 25px;
        }
      }
    }
  }
  .hexagon-container {
    padding-top: 40px;
    max-width: 550px;
    margin: auto;
    .row-canvas {
      height: 87px;
      &:nth-of-type(even){
        margin-left: 50px;
      }
      img.hexagon-component {
        margin-left: -10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .middle-canvas {
      margin-left: 50px;
    }
  }

  .bottom-container {
    position: relative;
    margin-top: 34px;
    text-align: center;
    height: 20px;
    .count {
      color: $turquoise;
    }
    .text {
      color: #fff;
    }
    .selected,
    .players {
      position: absolute;
      top: 10px;
    }
    .selected {
      left: 0;
      .place,
      .points {
        display: inline-block;
      }
    }
    .players {
      right: 0;
    }
  }

}