@import "../../styles/variables";

.container-duel {
  position: relative;
  z-index: 10;
  .content-block {
    background: rgba(0, 0, 0, 0.4);
    .title {
      //margin-top: -24px;
      h1 {
        //font-size: 36px;
      }
      i.deliv {
        background: #2b312f;
      }
    }
  }
  .content {
    position: relative;
    padding-bottom: 40px;
    .head-block {
      height: 20px;
      margin: 16px 0;
      text-align: center;
      .question {
        position: absolute;
        left: 25px;
      }
      .security {
        position: absolute;
        left: 50px;
      }
      .expand {
        position: absolute;
        top: 0;
        right: 25px;
      }
    }
    .menu-rate {
      padding: 0;
      li {
        position: relative;
        display: inline-block;
        padding: 0 8px;
        border-right: 2px solid #4f4f4f;
        &:last-child {
          border-right: none;
        }
        a {
          font-size: 23px;
          //letter-spacing: 0.085em;
          //font-family: 'ROBOTO-CONDENSED', sans-serif;
          text-decoration: none;
          color: #fff;
          &:hover {
            border-bottom: 2px solid #fff;
          }
        }
        &.active {
          a {
            border-bottom: 2px solid $golden;
            color: $golden;
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: -5px;
          right: 4px;
          width: 4px;
          height: 4px;
          background: #fff;
          border-radius: 50%;
        }
        &.ready {
          &:after {
            background: $golden;
          }
        }
      }
    }
    .user-places {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 54px auto 0;
      text-align: center;
    }
  }
}