.users-online-info {
  position: relative;
  z-index: 0;
  max-width: 1200px;
  margin: 135px auto 0;
  .content-block {
    min-height: 400px;
    .table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
      .status-message {
        background: inherit;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        &.head {
          background: rgba(2, 38, 40, 0.84);
          color: #14666b;
          &:hover {
            background: rgba(2, 38, 40, 0.84);
          }
        }
        &:hover {
          background: rgba(3, 81, 85, 0.2);
          border-left: 4px solid #046a70;
          border-right: 4px solid #046a70;
        }
        th{
          font-size: 12px;
          text-transform: uppercase;
        }
        th,td {
          text-align: center;
          border: 1px solid #5d5c6e;
          &.username{
            padding-left: 25px;
            color: #14666b;
            text-align: inherit;
            .userAvatar{
              margin-right: 27px;
              width: 36px;
              overflow: hidden;
              height: 36px;
              border-radius: 50%;
              display: inline-flex;
              vertical-align: middle;
              img{
                width: 100%;
                align-self: center;
              }
            }
          }
        }
      }
    }
  }
}